.tooltip2{
    position: relative;
    cursor: pointer;
    display: inline-block;
    &:hover .description {
    display: inline-block;
    top: 0px;
    left: 125px;
    }
.description {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 16px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 250px;
    &:before {
    content: "";
    position: absolute;
    top: 25%;
    right: 97%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
    transform: rotateZ(90deg);
    }
  }
}