.rank1 {
    margin-right:40px;
    width:40px; 
    height:40px;
    border-radius:50%;
    color:#fff;
    background-color:#ffd700;
    position:relative;
    
    &-text {
     position:absolute;
     top:10px;
     left:15px;
    }
}

.rank2 {
    margin-right:40px;
    width:40px; 
    height:40px;
    border-radius:50%;
    color:#fff;
    background-color:#b2b8b8;
    position:relative;
    
    &-text {
     position:absolute;
     top:10px;
     left:15px;
    }
}

.rank3 {
    margin-right:40px;
    width:40px; 
    height:40px;
    border-radius:50%;
    color:#fff;
    background-color:#7e5435;
    position:relative;
    
    &-text {
     position:absolute;
     top:10px;
     left:15px;
    }
}

.ranks {
    margin-right:40px;
    width:40px; 
    height:40px;
    border-radius:50%;
    color:#000;
    background-color:#FFF;
    position:relative;
    
    &-text {
     position:absolute;
     top:8px;
     left:14px;
    }
}

