.rank {
  margin-right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  position: relative;
}

.rank-text {
  position: absolute;
  top: 10px;
  left: 15px;
}

.rank-texts {
  position: absolute;
  top: 8px;
  left: 14px;
}

.rank-color1 {
  background-color: #ffd700;
}

.rank-color2 {
  background-color: #b2b8b8;
}

.rank-color3 {
  background-color: #7e5435;
}

.rank-colors {
  background-color: #fff;
}

